[default.app]
hostname = "127.0.0.1"
port = 8080

[default.database]
connection_string = "sqlite::memory:"

[default.vault]
url = "http://localhost:8200"
suffix_path = "token"         # prefixed with /v1/secret/data/{entity.id}

[default.moodle]
url = "http://localhost:0" # should be set using mock server

# TEST PROFILE

[test.app]
port = 0 # let OS pick the port

[test.oauth2]
url = "http://localhost:8443/default"
client_id = "client_id"

# PROD PROFILE

[production.app]
hostname = "0.0.0.0"
port = 8080

[production.database]
connection_string = "sqlite:///data/db.sqlite?mode=rwc"

[production.vault]

[production.moodle]
url = "https://e-learning.hcmut.edu.vn"
